html
  head
    title= 'Storytelling game framework'
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="js/index.js"></script>
    <script src="js/index-init.js"></script>
    <script src="js/index-ui-state.js"></script>
    <script src="js/index-modes.js"></script>
    <script src="js/index-scenes.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    script
      //- Load up the scenes in the frontend
      | var lookup = {};
      //- Go over each scene
      each scene in scenes.scenes
        - var i = scene.scene;
        //- Create our scene object
        | lookup[#{i}] = {};
        //- Go over key/value in the individual scene
        each key in Object.keys(scene)
          - var sceneValue = scene[key];

          //- If we have options
          - if (key == "options") {
            | lookup[#{i}].options = [];

            //- Go over each option
            each option in scene.options
              //- Create our option object
              | lookup[#{i}].options[#{option.id}] = {};

              //- Go over each key/value in the individual option
              each optionKey in Object.keys(option)
                - var optionValue = option[optionKey];

                //- Add the key/value pairs to the option object
                | lookup[#{i}].options[#{option.id}].#{optionKey} = "#{optionValue}";
          - }
          - else {
            //- Otherwise just add the key/value to the scene object
            | lookup[#{i}].#{key} = "#{sceneValue}";
          - }
      //- Load up the config in the frontend
      | var config = {};
      each key in Object.keys(scenes.config)
        - var configValue = scenes.config[key];
        | config.#{key} = "#{configValue}";


  body
    main
      div(class='loader')
      - var currentScene = 1;
      div(id='game' scene=currentScene)
        // button(id='myBtn')
        div(class='ui-bottom')
          div(id='author' class='modal')
            div(id='author' class='modal-content')
              p(id='author')
          div(id='controls' class='modal')
            div(id='controls' class='modal-content')
              span(class='pause') <i class="material-icons">pause</i>
              span(class='play') <i class="material-icons">play_arrow</i>
              span(class='next') <i class="material-icons">arrow_forward</i>
          div(id='message' class='modal')
              div(id='message' class='modal-content')
                p(id='msg')
                P(id="options")
